<main class="row justify-content-center py-5">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center mb-4">Entre em Contato</h3>

        <div class="alert alert-success" *ngIf="saved">Salvo com sucesso!</div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            name="email"
            type="text"
            class="form-control"
            placeholder="Digite seu email"
            required />
        </div>

        <div class="mb-3">
          <label for="telefone" class="form-label">Telefone</label>
          <input
            name="telefone"
            type="text"
            class="form-control"
            placeholder="Digite seu telefone"
            required />
        </div>

        <div class="mb-3">
          <label for="message" class="form-label">Mensagem</label>
          <textarea
            name="message"
            class="form-control"
            placeholder="Digite uma mensagem"
            rows="5"
            required></textarea>
        </div>

        <div class="d-grid">
          <button type="submit" (click)="save()" class="btn btn-primary">Enviar</button>
        </div>

        <div class="d-grid mt-2">
          <button (click)="logout()" type="button" class="btn btn-danger">Sair</button>
        </div>
      </div>
    </div>
  </div>
</main>
