.pokemon-type-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: gray;
  margin-right: 8px;
  border-radius: 3px;
}

:host-context(app-pokemon-type-selector) {
  .pokemon-type {
    display: none;
  }

  .pokemon-type-icon {
    margin-right: 0;
  }
}