.type-icon {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 18px;
  height: 18px;
  background: gray;
  margin-right: 8px;
  border-radius: 3px;
  vertical-align: text-bottom;
}

:host(.rounded) {
  .type-icon {
    border-radius: 50%;
  }
}

:host-context(app-pokemon-list app-pokemon-type-selector) {
  .type {
    display: none;
  }

  .type-icon {
    margin-right: 0;
  }
}