<main>
  <h1 class="mb-4">Treinadores</h1>

  <div class="card col-md-8 offset-md-2 my-3">
    <img src="assets/images/trainers/1.png" alt="Ash ketchum" class="card-img-top img-515x686" />
    <div class="card-body">
      <h2 class="card-title mx-3">{{ trainer.name }}</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Idade: {{ trainer.age }} anos</li>
        <li class="list-group-item">Localização: {{ trainer.location }}</li>
      </ul>
    </div>
  </div>

  <div *ngIf="team.length" class="mt-5 col-md-8 offset-md-2">
    <h3>Time</h3>
    <div class="row carrousel">
      <div *ngFor="let pokemon of team" class="mb-4 col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
      </div>
    </div>
  </div>
</main>
