<main>
  <h1 class="mb-4">Treinadores</h1>

  <div class="card col-md-8 offset-md-2 my-3">
    <img src="assets/images/trainers/1.png" alt="Ash ketchum" class="card-img-top img-515x686" />
    <div class="card-body">
      <h2 class="card-title mx-3">{{ trainer.name }}</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Idade: {{ trainer.age }} anos</li>
        <li class="list-group-item">Localização: {{ trainer.location }}</li>
        <li class="list-group-item">
          <h5>Time</h5>

          <ul class="list-inline">
            <li class="list-inline-item" *ngFor="let pokemon of team">
              &bull; <a [routerLink]="['/pokemons', pokemon.id]">{{ pokemon.name }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</main>
