<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="assets/images/pokemon-icon.webp" alt="Pokemon" width="32" height="">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="pokemons" class="nav-link px-2 text-white">Pokemons</a></li>
        <li><a routerLink="trainadores" class="nav-link px-2 text-white">Treinadores</a></li>
        <li><a routerLink="ginasios" class="nav-link px-2 text-white">Ginásios</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

    </div>
  </div>
</header>


<div class="container">
  <main *ngIf="isLoading" class="text-center p-4">
    Carregando...
  </main>

  <router-outlet *ngIf="!isLoading"></router-outlet>
</div>

<footer class="p-3 bg-dark text-white text-center">
  &copy; {{ today | date:'YYYY' }}. Todos os direitos reservados.
</footer>
