<div class="loading" [class.loaded]="!isLoading" aria-hidden="true"></div>

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="assets/images/pokemon-icon.webp" alt="Pokemon" width="32" height="32">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="pokemons" routerLinkActive="text-white" class="nav-link px-2 text-secondary">Pokemons</a></li>
        <li><a routerLink="treinadores" routerLinkActive="text-white" class="nav-link px-2 text-secondary">Treinadores</a></li>
        <li><a routerLink="ginasios" routerLinkActive="text-white" class="nav-link px-2 text-secondary">Ginásios</a></li>
      </ul>

      <div class="text-end">
        <a routerLink="login" class="btn btn-outline-light">Login</a>
        <a routerLink="contato" class="btn btn-primary mx-2">Entre em contato</a>

        <button class="btn btn-primary" (click)="votes= votes + 1">vote +1 ({{ votes }})</button>
      </div>

    </div>
  </div>
</header>

<div class="container py-4" style="min-height: 900px;">
  <router-outlet></router-outlet>
</div>

<footer class="p-3 bg-dark text-white text-center">
  &copy; {{ today | date:'YYYY' }}. Todos os direitos reservados.
</footer>
