.loading {
  background: #0a58ca;
  position: fixed;
  top: 0;
  left: 0;
  width: 0vw;
  height: 8px;
  animation: loading forwards 20s;

  &.loaded {
    width: 100vw;
    transition: 2s ease-in-out;
    animation: none;
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    width: 0vw;
  }

  10% {
    width: 75vw;
  }

  75% {
    width: 95vw;
  }

  100% {
    width: 98vw;
  }
}
