<div class="col-md-6 offset-md-3">
  <div class="card">
    <img src="https://freepngimg.com/thumb/pokemon/20090-7-pokemon-ash-hd.png" alt="Treinador" class="card-img-top">
    <div class="card-body">
      <h2 class="card-title">Ash Ketchum</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Idade: 10 anos</li>
        <li class="list-group-item">Localização: Pallet Town</li>
        <li class="list-group-item">Time:
          <a [routerLink]="['/pokemon', 25]">Pikachu</a>,
          <a [routerLink]="['/pokemon', 6]">Charizard</a>,
          <a [routerLink]="['/pokemon', 1]">Bulbasaur</a>.
      </ul>
    </div>
  </div>
</div>
