.carrousel {
  overflow: auto;
  overflow-y: hidden;
  display: flex;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
}

:host ::ng-deep app-pokemon-type-selector {
  button {
    border: solid 1px var(--bs-secondary);
  }
}