/* Global styles */
@import "../node_modules/bootstrap/scss/bootstrap";

a {
  text-decoration: none;
  cursor: pointer;

  &:not(.btn, .card):hover {
    text-decoration: underline;
  }
}

.fadeIn {
  opacity: 0;
  position: relative;
  transform: scale(0.9);
  animation: fadeIn 0.4s forwards ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


.img-1x1 {
  aspect-ratio: 1;
}

.img-515x686 {
  aspect-ratio: 515 / 686;
}