<main id="pokemon-list">
  <h1 class="mb-4">{{ toUpperCase("Pokemons") }}</h1>

  <app-pokemon-list-filter [filter]="filter"></app-pokemon-list-filter>

  <div id="pokemon-list-counter" class="mb-3" [ngPlural]="pokemons.length">
    <ng-template ngPluralCase="=0">
      A busca
      <ng-container *ngIf="filter.name">por "{{ filter.name }}"</ng-container>
      não encontrou nenhum pokemon.
    </ng-template>
    <ng-template ngPluralCase="=1">1 pokemon encontrado.</ng-template>
    <ng-template ngPluralCase="other">{{ pokemons.length }} pokemons encontrados.</ng-template>
  </div>

  <div class="row">
    <div *ngFor="let pokemon of pokemons" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-3">
      <app-pokemon-card
        class="to-dark"
        [pokemon]="pokemon"
        (pokemonChange)="setPokemons(filter)"></app-pokemon-card>
    </div>
  </div>
</main>
